h3 {
    color:blue;
    background:black;
}

 #tieude {
    color: blue;

    background:green;
 }
 .tieude-2{
    color:pink;
    background-color:black;
 }
 div.wed4{
    color:red;
    background-color:blue;
 }
 
        .danh-sach-muc{
         liststyle:null;
        }